
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
}
.root{
    display: flex;
    flex-flow: column;
}
.navbar{
    flex-basis: 100px;
    height:100px;
    line-height: 100px;
    background: #3076DA;
}

.container{

    flex:1;
    display: flex;
}

.sidebar{
    width: 240px;
    flex-basis: 240px;  
}
.main{
    flex:1;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;

}
.main-content{
    flex: 1;
    padding: 0px 35px;
}   

.footer{
    flex-basis: 70px;
    background: #175abb;
    height:70px;
    align-items: flex-end;
}
.footer-copyright{
    color:#fff;
    line-height: 70px;
    font-size: 14px;
}
.navbar-shadow{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.24);
}
.panel-style{
    margin:20px 0px;
}
.panel-title-right{
    align-items: flex-end;
    color:#999;
}
.main-content-intro{
    padding:20px 0px;
    font-size: 16px;
    line-height: 30px;
}

